*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen{
    position: relative;
    width: 100%;
    height: 3009px;
    background-color: #FFFFFF;
}

#top{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 0px;
    
    background: #F3410E;
}

#kinder img{
    position: absolute;
    width: 523px;
    height: 164px;
    left: 40%;
    top: 170px;
}

#topLeader{
    position: relative;
    width: 100%;
    height: 561px;
    top: 350px;
}

#midLeader{
    position: relative;
    width: 100%;
    height: 561px;
    top: 500px;
}

#midDivisior{
    position: absolute;
    width: 100%;
    height: 413px;
    top: 50%;
    
    background: #F3410E;
}

#bottomLeader{
    position: relative;
    width: 100%;
    height: 561px;
    top: 1000px;
}

.ovo{
    position: absolute;

}

.text{
    position: absolute;
    width: 45%;
    height: 100%;
    left: 55%;
    
    background: #F3410E;
    border-radius: 105px;
    filter: drop-shadow(10px 14px 10px rgba(39, 38, 38, 0.7));
}

.text p{
    position: absolute;
    width: 720px;
    height: 450px;
    left: 3rem;
    top: 4rem;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
   
    color: #FFFFFF;
    text-shadow: 5px 10px 10px rgba(39, 38, 38, 0.7);
}

.ovoRight{
    position: absolute;
    left: 55%;
}

.textLeft{
    position: absolute;
    width: 45%;
    height: 100%;
    left: 5%;
    
    background: #F3410E;
    border-radius: 105px;
    filter: drop-shadow(10px 14px 10px rgba(39, 38, 38, 0.7));
}

.textLeft p{
    position: absolute;
    width: 720px;
    height: 450px;
    left: 3rem;
    top: 4rem;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
   
    color: #FFFFFF;
    text-shadow: 5px 10px 10px rgba(39, 38, 38, 0.7);
}

#buttons{
    position: relative;
    width: 100%;
    height: 165px;
    top: 1200px;
}

.buttonBuy{
    position: absolute;
    width: 571px;
    height: 162px;
    left: 63px;
    top: 0px;
    
    background: #FF0202;
    border-radius: 105px;
    filter: drop-shadow(10px 14px 10px rgba(39, 38, 38, 0.7));
}

.buttonBuy p{
    position: absolute;
    width: 500px;
    height: 60px;
    left: 2vh;
    top: 3vh;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
   
    color: #FFFFFF;
    text-shadow: 5px 10px 10px rgba(39, 38, 38, 0.7);
}

.buttonMore{
    position: absolute;
    width: 571px;
    height: 162px;
    left: 774px;
    top: 0px;
    
    background: #FF0202;
    border-radius: 105px;
    filter: drop-shadow(10px 14px 10px rgba(39, 38, 38, 0.7));
}

.buttonMore p{
    position: absolute;
    width: 500px;
    height: 60px;
    left: 2vh;
    top: 3vh;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    
    color: #FFFFFF;
    text-shadow: 5px 10px 10px rgba(39, 38, 38, 0.7);
}

#bottom img{
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url('img/barra.png');
    background-size: 100% 100%;
    top: 1600px;
}
